.root {
    /*-fx-background-color: cornsilk;*/
    /*-fx-padding: 10;*/
}

.rootPane {
    -fx-background:transparent;
}

.configPane {
    -fx-background-color: rgb(230, 230, 230);
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-width: 1;
}

.configPaneContainer{
    -fx-background:transparent;
}

.actionPane {
    -fx-background:transparent;
    -fx-border-color: rgb(20, 60, 230);
    -fx-border-width: 3;
}

.targetPane{
    -fx-background:transparent;
    -fx-border-color: rgb(20, 60, 230);
    -fx-border-width: 3;
    -fx-border-radius: 60;
}

.packagePane{
    -fx-background:transparent;
    -fx-border-color: rgb(20, 60, 230);
    -fx-border-width: 2;
}

.packageCellPane{
    -fx-background:transparent;
    -fx-border-color: rgb(20, 60, 230);
    -fx-border-width: 2;
}

.test {
    -fx-background-color: rgb(127, 120, 120, 120);
}